<div class="product-card {{ class }}">
  {% unless product.featured_image == blank %}
    <a href="{{ product.url }}" class="square-image">
      {{ product.featured_image | image_url: width: 500 | image_tag: class: 'w-full h-40 object-cover rounded-lg' }}
    </a>
  {% endunless %}
  <a class="text-center mt-4 h3" href="{{ product.url }}">
    <h3>
      {{ product.title }}
    </h3>
  </a>

  {% liquid
    assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id
    assign available_variants = product.variants | where: 'available', true
  %}
  <variant-swatch>
    {% form 'product', product, id: product_form_id, data-cart-submit: "" %}
      {% if product.has_only_default_variant == false and available_variants.size > 1 %}
        <div class="select-wrapper">
          <select name="id" class="select">
            {% for variant in available_variants %}
              <option value="{{ variant.id }}">
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>
          {{ 'icon-caret.svg' | inline_asset_content }}
        </div>
      {% else %}
        <input type="hidden" name="id" value="{{ available_variants[0].id }}">
      {% endif %}
      <div class="button-wrapper--animated">
        <button class="button w-full uppercase">
          <span data-price-wrapper>{{ available_variants[0].price | money }}</span>
          | {{ 'action.add_to_cart' | t }}
        </button>
      </div>
    {% endform %}
    <script type="application/json">{{ product.variants | json }}</script>
  </variant-swatch>
</div>